.modal-wrapper {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .7);
	z-index: 11;
}

.modal-wrapper.active {
	display: block;
}

.modal-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.modal-content {
	display: block;
	width: 300px;
	max-width: 92%;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 6px 16px rgba(0, 0, 0, .4);
}

.md-headline {
	margin: 0;
	font-size: 23px!important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btns.left {
	justify-content: flex-start;
}


.btns.right {
	justify-content: flex-end;
}

.md-button {
	margin: 10px;
}

.inp {
	padding: 5px 10px;
}